.myheader{
    display: grid;
	grid-template-columns: 200px auto;
    padding: 10px;
    border: 4px solid teal;
    height: 100px;
    width: auto;
}

.img_logo {
	grid-column: 1;
	grid-row: 1;
}

.text_logo {
	grid-column: 2;
  	grid-row: 1;
	text-align: center;
}

.text_logo > h1{
	overflow-wrap: anywhere;
	font-size: 25px;
}